@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zhp3nu');
  src:  url('fonts/icomoon.eot?zhp3nu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zhp3nu') format('truetype'),
    url('fonts/icomoon.woff?zhp3nu') format('woff'),
    url('fonts/icomoon.svg?zhp3nu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before {
  content: "\e900";
}
.icon-wifiOff:before {
  content: "\e901";
}
.icon-watchScreentime:before {
  content: "\e902";
}
.icon-warning:before {
  content: "\e903";
}
.icon-vitalSigns:before {
  content: "\e904";
}
.icon-verified:before {
  content: "\e905";
}
.icon-tune:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e907";
}
.icon-routine:before {
  content: "\e908";
}
.icon-qrCodeScanner:before {
  content: "\e909";
}
.icon-publicElement:before {
  content: "\e90a";
}
.icon-progressActivity:before {
  content: "\e90b";
}
.icon-printElement:before {
  content: "\e90c";
}
.icon-pageInfo:before {
  content: "\e90d";
}
.icon-pageHeight:before {
  content: "\e90e";
}
.icon-openInNew:before {
  content: "\e90f";
}
.icon-notification:before {
  content: "\e910";
}
.icon-mystery:before {
  content: "\e911";
}
.icon-mobileCheck:before {
  content: "\e912";
}
.icon-list:before {
  content: "\e913";
}
.icon-listAltCheck:before {
  content: "\e914";
}
.icon-lightMode:before {
  content: "\e915";
}
.icon-inkEraser:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e917";
}
.icon-android:before {
  content: "\e918";
}
.icon-help:before {
  content: "\e919";
}
.icon-height:before {
  content: "\e91a";
}
.icon-gridView:before {
  content: "\e91b";
}
.icon-flexWrap:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-filterAlt:before {
  content: "\e91e";
}
.icon-fileSave:before {
  content: "\e91f";
}
.icon-error:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e921";
}
.icon-deleteElement:before {
  content: "\e922";
}
.icon-darkMode:before {
  content: "\e923";
}
.icon-close:before {
  content: "\e924";
}
.icon-check:before {
  content: "\e925";
}
.icon-browseActivity:before {
  content: "\e926";
}
.icon-arrowUp:before {
  content: "\e927";
}
.icon-arrowRight:before {
  content: "\e928";
}
.icon-arrowDown:before {
  content: "\e929";
}
.icon-apple:before {
  content: "\e92a";
}
.icon-add:before {
  content: "\e92b";
}
.icon-addNotes:before {
  content: "\e92c";
}
.icon-accountBalance:before {
  content: "\e92d";
}
.icon-accountBox:before {
  content: "\e92e";
}
.icon-accountCircle:before {
  content: "\e92f";
}
.icon-adb:before {
  content: "\e930";
}
.icon-addAPhoto:before {
  content: "\e931";
}
.icon-addBox:before {
  content: "\e932";
}
.icon-addBusiness:before {
  content: "\e933";
}
.icon-addCard:before {
  content: "\e934";
}
.icon-addCircle:before {
  content: "\e935";
}
.icon-addPhotoAlternate:before {
  content: "\e936";
}
.icon-addShoppingCart:before {
  content: "\e937";
}
.icon-add1:before {
  content: "\e938";
}
.icon-air:before {
  content: "\e939";
}
.icon-alarm:before {
  content: "\e93a";
}
.icon-analytics:before {
  content: "\e93b";
}
.icon-android:before {
  content: "\e93c";
}
.icon-apps:before {
  content: "\e93d";
}
.icon-arrowBack:before {
  content: "\e93e";
}
.icon-arrowDownward:before {
  content: "\e93f";
}
.icon-arrowDropDown:before {
  content: "\e940";
}
.icon-arrowDropUp:before {
  content: "\e941";
}
.icon-arrowForward:before {
  content: "\e942";
}
.icon-arrowRight:before {
  content: "\e943";
}
.icon-atr:before {
  content: "\e944";
}
.icon-attachMoney:before {
  content: "\e945";
}
.icon-autorenew:before {
  content: "\e946";
}
.icon-backspace:before {
  content: "\e947";
}
.icon-badge:before {
  content: "\e948";
}
.icon-barChart:before {
  content: "\e949";
}
.icon-barcodeScanner:before {
  content: "\e94a";
}
.icon-batteryChargingFull:before {
  content: "\e94b";
}
.icon-batteryFullAlt:before {
  content: "\e94c";
}
.icon-batteryFull:before {
  content: "\e94d";
}
.icon-bluetooth:before {
  content: "\e94e";
}
.icon-bookmark:before {
  content: "\e94f";
}
.icon-brush:before {
  content: "\e950";
}
.icon-build:before {
  content: "\e951";
}
.icon-cable:before {
  content: "\e952";
}
.icon-cake:before {
  content: "\e953";
}
.icon-calculate:before {
  content: "\e954";
}
.icon-calendarMonth:before {
  content: "\e955";
}
.icon-calendarToday:before {
  content: "\e956";
}
.icon-call:before {
  content: "\e957";
}
.icon-camera:before {
  content: "\e958";
}
.icon-campaign:before {
  content: "\e959";
}
.icon-cancel:before {
  content: "\e95a";
}
.icon-cast:before {
  content: "\e95b";
}
.icon-category:before {
  content: "\e95c";
}
.icon-celebration:before {
  content: "\e95d";
}
.icon-chatBubble:before {
  content: "\e95e";
}
.icon-chat:before {
  content: "\e95f";
}
.icon-checkBoxOutlineBlank:before {
  content: "\e960";
}
.icon-checkBox:before {
  content: "\e961";
}
.icon-checkCircle:before {
  content: "\e962";
}
.icon-check1:before {
  content: "\e963";
}
.icon-chevronLeft:before {
  content: "\e964";
}
.icon-chevronRight:before {
  content: "\e965";
}
.icon-circle:before {
  content: "\e966";
}
.icon-close1:before {
  content: "\e967";
}
.icon-code:before {
  content: "\e968";
}
.icon-colorize:before {
  content: "\e969";
}
.icon-computer:before {
  content: "\e96a";
}
.icon-construction:before {
  content: "\e96b";
}
.icon-contactSupport:before {
  content: "\e96c";
}
.icon-contentCopy:before {
  content: "\e96d";
}
.icon-creditCard:before {
  content: "\e96e";
}
.icon-cropFree:before {
  content: "\e96f";
}
.icon-currencyBitcoin:before {
  content: "\e970";
}
.icon-darkMode:before {
  content: "\e971";
}
.icon-dashboard:before {
  content: "\e972";
}
.icon-dashedCircle:before {
  content: "\e973";
}
.icon-database:before {
  content: "\e974";
}
.icon-deleteForever:before {
  content: "\e975";
}
.icon-deleteElement:before {
  content: "\e976";
}
.icon-description:before {
  content: "\e977";
}
.icon-devices:before {
  content: "\e978";
}
.icon-directionsCar:before {
  content: "\e979";
}
.icon-domain:before {
  content: "\e97a";
}
.icon-doneAll:before {
  content: "\e97b";
}
.icon-downloadForOffline:before {
  content: "\e97c";
}
.icon-download:before {
  content: "\e97d";
}
.icon-draw:before {
  content: "\e97e";
}
.icon-eco:before {
  content: "\e97f";
}
.icon-editNote:before {
  content: "\e980";
}
.icon-edit:before {
  content: "\e981";
}
.icon-electricBolt:before {
  content: "\e982";
}
.icon-emojiObjects:before {
  content: "\e983";
}
.icon-engineering:before {
  content: "\e984";
}
.icon-error:before {
  content: "\e985";
}
.icon-euro:before {
  content: "\e986";
}
.icon-event:before {
  content: "\e987";
}
.icon-explore:before {
  content: "\e988";
}
.icon-extension:before {
  content: "\e989";
}
.icon-familiarFaceAndZone:before {
  content: "\e98a";
}
.icon-fastForward:before {
  content: "\e98b";
}
.icon-fastRewind:before {
  content: "\e98c";
}
.icon-favorite:before {
  content: "\e98d";
}
.icon-fileCopy:before {
  content: "\e98e";
}
.icon-filterAlt:before {
  content: "\e98f";
}
.icon-filterList:before {
  content: "\e990";
}
.icon-finance:before {
  content: "\e991";
}
.icon-fingerprint:before {
  content: "\e992";
}
.icon-flag:before {
  content: "\e993";
}
.icon-flashOn:before {
  content: "\e994";
}
.icon-flashlightOn:before {
  content: "\e995";
}
.icon-flight:before {
  content: "\e996";
}
.icon-folderOpen:before {
  content: "\e997";
}
.icon-folder:before {
  content: "\e998";
}
.icon-forum:before {
  content: "\e999";
}
.icon-gridOn:before {
  content: "\e99a";
}
.icon-gridView:before {
  content: "\e99b";
}
.icon-groupAdd:before {
  content: "\e99c";
}
.icon-group:before {
  content: "\e99d";
}
.icon-groups:before {
  content: "\e99e";
}
.icon-handyman:before {
  content: "\e99f";
}
.icon-headphones:before {
  content: "\e9a0";
}
.icon-hearing:before {
  content: "\e9a1";
}
.icon-help:before {
  content: "\e9a2";
}
.icon-history:before {
  content: "\e9a3";
}
.icon-homePin:before {
  content: "\e9a4";
}
.icon-home:before {
  content: "\e9a5";
}
.icon-image:before {
  content: "\e9a6";
}
.icon-imagesmode:before {
  content: "\e9a7";
}
.icon-info:before {
  content: "\e9a8";
}
.icon-inventory2:before {
  content: "\e9a9";
}
.icon-inventory:before {
  content: "\e9aa";
}
.icon-keyboardArrowDown:before {
  content: "\e9ab";
}
.icon-keyboardArrowLeft:before {
  content: "\e9ac";
}
.icon-keyboardArrowRight:before {
  content: "\e9ad";
}
.icon-keyboardArrowUp:before {
  content: "\e9ae";
}
.icon-label:before {
  content: "\e9af";
}
.icon-landscape:before {
  content: "\e9b0";
}
.icon-language:before {
  content: "\e9b1";
}
.icon-leaderboard:before {
  content: "\e9b2";
}
.icon-lightMode:before {
  content: "\e9b3";
}
.icon-lightbulb:before {
  content: "\e9b4";
}
.icon-link:before {
  content: "\e9b5";
}
.icon-list:before {
  content: "\e9b6";
}
.icon-localCafe:before {
  content: "\e9b7";
}
.icon-localMall:before {
  content: "\e9b8";
}
.icon-locationOn:before {
  content: "\e9b9";
}
.icon-lockOpen:before {
  content: "\e9ba";
}
.icon-lock:before {
  content: "\e9bb";
}
.icon-login:before {
  content: "\e9bc";
}
.icon-logout:before {
  content: "\e9bd";
}
.icon-loyalty:before {
  content: "\e9be";
}
.icon-mail:before {
  content: "\e9bf";
}
.icon-manageAccounts:before {
  content: "\e9c0";
}
.icon-map:before {
  content: "\e9c1";
}
.icon-menu:before {
  content: "\e9c2";
}
.icon-mic:before {
  content: "\e9c3";
}
.icon-modeComment:before {
  content: "\e9c4";
}
.icon-monitoring:before {
  content: "\e9c5";
}
.icon-moreHoriz:before {
  content: "\e9c6";
}
.icon-moreVert:before {
  content: "\e9c7";
}
.icon-movie:before {
  content: "\e9c8";
}
.icon-musicNote:before {
  content: "\e9c9";
}
.icon-myLocation:before {
  content: "\e9ca";
}
.icon-navigation:before {
  content: "\e9cb";
}
.icon-nearMe:before {
  content: "\e9cc";
}
.icon-nestEcoLeaf:before {
  content: "\e9cd";
}
.icon-nestRemoteComfortSensor:before {
  content: "\e9ce";
}
.icon-nightlight:before {
  content: "\e9cf";
}
.icon-notifications:before {
  content: "\e9d0";
}
.icon-openInNew:before {
  content: "\e9d1";
}
.icon-paid:before {
  content: "\e9d2";
}
.icon-palette:before {
  content: "\e9d3";
}
.icon-pauseCircle:before {
  content: "\e9d4";
}
.icon-pause:before {
  content: "\e9d5";
}
.icon-personAdd:before {
  content: "\e9d6";
}
.icon-personPin:before {
  content: "\e9d7";
}
.icon-person:before {
  content: "\e9d8";
}
.icon-pets:before {
  content: "\e9d9";
}
.icon-phoneIphone:before {
  content: "\e9da";
}
.icon-photoCamera:before {
  content: "\e9db";
}
.icon-photoLibrary:before {
  content: "\e9dc";
}
.icon-pictureAsPdf:before {
  content: "\e9dd";
}
.icon-pinDrop:before {
  content: "\e9de";
}
.icon-playArrow:before {
  content: "\e9df";
}
.icon-playCircle:before {
  content: "\e9e0";
}
.icon-power:before {
  content: "\e9e1";
}
.icon-printElement:before {
  content: "\e9e2";
}
.icon-priorityHigh:before {
  content: "\e9e3";
}
.icon-publicElement:before {
  content: "\e9e4";
}
.icon-qrCode2:before {
  content: "\e9e5";
}
.icon-qrCodeScanner:before {
  content: "\e9e6";
}
.icon-qrCode:before {
  content: "\e9e7";
}
.icon-queryStats:before {
  content: "\e9e8";
}
.icon-questionMark:before {
  content: "\e9e9";
}
.icon-radar:before {
  content: "\e9ea";
}
.icon-refresh:before {
  content: "\e9eb";
}
.icon-remove:before {
  content: "\e9ec";
}
.icon-repeat:before {
  content: "\e9ed";
}
.icon-replay:before {
  content: "\e9ee";
}
.icon-report:before {
  content: "\e9ef";
}
.icon-restartAlt:before {
  content: "\e9f0";
}
.icon-restaurantMenu:before {
  content: "\e9f1";
}
.icon-restaurant:before {
  content: "\e9f2";
}
.icon-rocketLaunch:before {
  content: "\e9f3";
}
.icon-rssFeed:before {
  content: "\e9f4";
}
.icon-save:before {
  content: "\e9f5";
}
.icon-savings:before {
  content: "\e9f6";
}
.icon-schedule:before {
  content: "\e9f7";
}
.icon-school:before {
  content: "\e9f8";
}
.icon-science:before {
  content: "\e9f9";
}
.icon-search:before {
  content: "\e9fa";
}
.icon-security:before {
  content: "\e9fb";
}
.icon-sell:before {
  content: "\e9fc";
}
.icon-send:before {
  content: "\e9fd";
}
.icon-settings:before {
  content: "\e9fe";
}
.icon-share:before {
  content: "\e9ff";
}
.icon-shoppingBag:before {
  content: "\ea00";
}
.icon-shoppingCart:before {
  content: "\ea01";
}
.icon-shuffle:before {
  content: "\ea02";
}
.icon-signalCellularAlt:before {
  content: "\ea03";
}
.icon-skipNext:before {
  content: "\ea04";
}
.icon-skipPrevious:before {
  content: "\ea05";
}
.icon-smartphone:before {
  content: "\ea06";
}
.icon-sort:before {
  content: "\ea07";
}
.icon-sportsEsports:before {
  content: "\ea08";
}
.icon-sportsSoccer:before {
  content: "\ea09";
}
.icon-stadiaController:before {
  content: "\ea0a";
}
.icon-star:before {
  content: "\ea0b";
}
.icon-stopCircle:before {
  content: "\ea0c";
}
.icon-stop:before {
  content: "\ea0d";
}
.icon-storage:before {
  content: "\ea0e";
}
.icon-store:before {
  content: "\ea0f";
}
.icon-storefront:before {
  content: "\ea10";
}
.icon-subscriptions:before {
  content: "\ea11";
}
.icon-sync:before {
  content: "\ea12";
}
.icon-taskAlt:before {
  content: "\ea13";
}
.icon-theaters:before {
  content: "\ea14";
}
.icon-thumbUp:before {
  content: "\ea15";
}
.icon-timeline:before {
  content: "\ea16";
}
.icon-timer:before {
  content: "\ea17";
}
.icon-touchApp:before {
  content: "\ea18";
}
.icon-trendingDown:before {
  content: "\ea19";
}
.icon-trendingUp:before {
  content: "\ea1a";
}
.icon-tune:before {
  content: "\ea1b";
}
.icon-undo:before {
  content: "\ea1c";
}
.icon-update:before {
  content: "\ea1d";
}
.icon-uploadFile:before {
  content: "\ea1e";
}
.icon-usb:before {
  content: "\ea1f";
}
.icon-verifiedUser:before {
  content: "\ea20";
}
.icon-verified:before {
  content: "\ea21";
}
.icon-videoLibrary:before {
  content: "\ea22";
}
.icon-videocam:before {
  content: "\ea23";
}
.icon-visibilityOff:before {
  content: "\ea24";
}
.icon-visibility:before {
  content: "\ea25";
}
.icon-volumeOff:before {
  content: "\ea26";
}
.icon-volumeUp:before {
  content: "\ea27";
}
.icon-wallet:before {
  content: "\ea28";
}
.icon-wallpaper:before {
  content: "\ea29";
}
.icon-warning:before {
  content: "\ea2a";
}
.icon-wbSunny:before {
  content: "\ea2b";
}
.icon-whereToVote:before {
  content: "\ea2c";
}
.icon-widgets:before {
  content: "\ea2d";
}
.icon-wifiOff:before {
  content: "\ea2e";
}
.icon-wifi:before {
  content: "\ea2f";
}
.icon-work:before {
  content: "\ea30";
}
